/* default for all pages */
normalize-css()

// html *
//   b()

/* layout.jade */
.wrapper
  margin-top 70px

.main p
 text-align center

/* menu */
.menu li
  list-style none
  display inline
  margin-left 40px

/* about.jade */
.synopsis .col-md-6
  text-align center

#inline-p
  margin-left 35%
  display inline
