extends layout

block content
  .col-md-6.col-md-offset-3.logo
    p THE LOGO
  .col-md-6.col-md-offset-3.menu
      ul
        li
          a(href='/') Home
        li
          a(href='/about.html') About
        li
          a(href='/') Clients
        li
          a(href='/') Hire us
  .col-md-6.col-md-offset-3.synopsis
    p CLIENTS YO
  .col-md-6.col-md-offset-3.footer
    small Copyright @ NomadicWeb 2014
