doctype
html
  head
    title NomadicWeb - #{title}

    // stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/morphext.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')

    // live-reload
    != LRScript
  body
    .container
      .col-md-10.col-md-offset-1.wrapper
        .main

          .col-md-6.col-md-offset-3.logo
            p THE LOGO

          .col-md-6.col-md-offset-3.menu
            include menu.jade

          // switchable content
          block content

          .col-md-6.col-md-offset-3.footer
            small Copyright @ NomadicWeb 2014

        // javascripts
        script(src="/javascripts/jquery.js")
        script(src="/javascripts/morphext.min.js")
        script(src="/javascripts/app.js")
