extends layout

block content
  .col-md-10.col-md-offset-1.synopsis
    .col-md-8.col-md-offset-2
      p.about-text
        | This is the big spiel about us This is the big spiel about us
      p
        | Read about <a href="/about/martin" onclick="linkLoader('.synopsis')">Martin</a>
    .col-md-2
      img.about-image(src='/images/luke.png')
