extends layout

block content
  .col-md-6.col-md-offset-3.logo
    p THE LOGO
  .col-md-6.col-md-offset-3.menu
      ul
        li
          a(href='/') Home
        li
          a(href='/about') About
        li
          a(href='/clients') Clients
        li
          a(href='/hire-us') Hire us
  .col-md-6.col-md-offset-3.synopsis
    p LUKE TEXT YO
  .col-md-6.col-md-offset-3.footer
    small Copyright @ NomadicWeb 2014
