extends layout

block content
  .col-md-10.col-md-offset-1.synopsis
    .col-md-6
      img.about-image(src='/images/luke.jpg')
    .col-md-6
      p.about-text
        | This is the big spiel about us This is the big spiel about us | This is the big spiel about us | This is the big spiel about us | This is the big spiel about us | This is the big spiel about us | This is the big spiel about us
        | This is the big spiel about us This is the big spiel about us | This is the big spiel about us | This is the big spiel about us | This is the big spiel about us | This is the big spiel about us | This is the big spiel about us
        | This is the big spiel about us This is the big spiel about us | This is the big spiel about us | This is the big spiel about us | This is the big spiel about us | This is the big spiel about us | This is the big spiel about us
        | This is the big spiel about us This is the big spiel about us | This is the big spiel about us | This is the big spiel about us | This is the big spiel about us | This is the big spiel about us | This is the big spiel about us
